:root {
    --primary-color: #f6f6f8;
    --secondary-color: black;
    --body-color: #e3e3e3;
    --icon-color: #747272;
}

.switch {
    --primary-color: black;
    --secondary-color: #f6f6f8;
    --body-color: #1a1a1a;
    --icon-color: #f6f6f8;
}

.logo {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 25px;
    font-weight: bold;
    font-family: 'El Messiri';
    font-size: 35px;
    position: relative;
    top: 5px;
}

.pinkname {
    color: #c60021;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    position: fixed;
    padding-left: 50px;
    padding-right: 50px;
    z-index: 9999;

}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}

.under:hover {
    color: #c60021;
}

.under {
    text-decoration: none;
    font-size: 18px;
    color: var(--secondary-color);
    font-family: 'lato';
}

.active {
    color: #c60021;
}

.toggleswitch {
    position: relative;
}

.toggleswitch i {
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    left: 100%;
    bottom: 7px;

}

.famoon {
    font-size: 12px;
}

.fasun {
    display: none;
    color: #fff;
}

.switch .fasun {
    display: block;
}

.switch .famoon {
    display: none;
}